global
    maxconn 500
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    retries 2
    timeout client  30m
    timeout connect 4s
    timeout server  30m
    timeout check   3s

# Веб-страница со статусом бэкендов
listen stats
    mode http
    bind *:7005
    stats enable
    stats uri /
    stats refresh 2s

#------------------------------------------------------------------------------
# ЗАПИСЬ. Patroni отдаёт HTTP 200 на GET /primary только на текущем лидере.
# Поэтому HAProxy сам, без всякой магии, всегда знает, где мастер.
#------------------------------------------------------------------------------
listen postgres_write
    bind *:5005
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 2 rise 2 on-marked-down shutdown-sessions
    server pg1 pg-patroni-1:5432 maxconn 100 check port 8008
    server pg2 pg-patroni-2:5432 maxconn 100 check port 8008
    server pg3 pg-patroni-3:5432 maxconn 100 check port 8008

#------------------------------------------------------------------------------
# ЧТЕНИЕ. GET /replica отдаёт 200 только на живых репликах.
# Аналитику - сюда, и прод от него не страдает.
#------------------------------------------------------------------------------
listen postgres_read
    bind *:5001
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 2s fall 2 rise 2 on-marked-down shutdown-sessions
    server pg1 pg-patroni-1:5432 maxconn 100 check port 8008
    server pg2 pg-patroni-2:5432 maxconn 100 check port 8008
    server pg3 pg-patroni-3:5432 maxconn 100 check port 8008
